<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cuti API</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        .active {
            font-weight: bold;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">Cuti App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/karyawan/index">Karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_cuti/index">Jenis cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_karyawan/index">Jenis karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/status/index">Status</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item active">
                    <a class="nav-link" href="/cuti/index">Cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item">
                    <a class="nav-link" href="/cuti_approval/index">Cuti Approval</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
                </li>
                <li th:if="${session.id == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pt-4">
    <h2>Cuti API</h2>
    <p>
        <button class="btn btn-primary" onclick="OpenList()">Open List</button>
        <button class="btn btn-primary" onclick="OpenForm()" th:if="${session.id != null}">Open Add Form</button>
    </p>
    <input class="form-control" type="text" placeholder="Search" onkeyup="SearchCategory(this.value)"
           autocomplete="off">
    <div id="cutiList"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anda akan menghapus data dibawah ini, apakah anda yakin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body">
            </div>
        </div>
    </div>
</div>


<!--javascript-->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>

        function OpenList() {
            $.ajax({
                url: '/api/cuti',
                type: 'get',
                contentType: 'application/json',
                success: function(data) {
                    // console.log(data);
                    var table = '<table class="table">';
                    table += "<tr>";
                    table += "<th> # </th>";
                    table += "<th> Jenis Cuti </th>";
                    table += "<th> Tanggal Mulai </th>";
                    table += "<th> Tanggal Akhir</th>";
                    table += "<th> Lama Cuti </th>";
                    table += "<th> Status</th>";
                    table += "<th collspan='2' class='text-center'>Action</th>";
                    table += "</tr>";

                    for (let i = 0; i < data.length; i++) {
                        table += "<tr>";
                        table += "<td>" + (i + 1) + "</td>";
                        table += "<td>" + data[i].jenisCuti.nama + "</td>";
                        table += "<td>" + data[i].tanggalAwal + "</td>";
                        table += "<td>" + data[i].tanggalAkhir + "</td>";
                        table += "<td>" + data[i].lamaCuti + ' Hari' + "</td>";
                        table += "<td>" + data[i].status.nama + "</td>";
                        table += "<td align='left'><button class='btn btn-success' value='" + data[i].id + "' onclick='FormEdit(this.value)'>Edit</button> " + ' '
                        table += "<button class='btn btn-danger' data-toggle='modal' data-target='#exampleModal' value='" + data[i].id + "' onclick='FormDelete(this.value)'>Delete</button> " + ' '
                        if(data[i].statusId != 3 && data[i].statusId != 1){
                            table += "<button class='btn btn-primary' value='" + data[i].id + "' onclick='Approve(this.value)'>approve</button></td>";
                        }
                        table += "</tr>";
                    }
                    table += "</table>";
                    $('#cutiList').html(table);
                }

            });
        }

        function Approve(id) {
            $.ajax({
                url: '/api/cuti/'+id,
                type: 'GET',
                contentType: 'application/json',
                success: function (cuti) {
                    console.log(cuti);

                    let form = "<table class='table table-bordered'>"
                    form += "<tr>"
                    $.ajax({
                        url: '/api/status',
                        type: 'GET',
                        contentType: 'application/json',
                        success: function(status) {
                            form += "<td>Status</td>"
                            form += "<td><select class='custom-select' id='status_id'>"
                            for (let i = 0; i < status.length; i++) {
                                if (status[i].id == cuti.statusId)
                                {
                                    selected="selected"
                                } else {
                                    selected=""
                                }
                                form += "<option value='" + status[i].id + "' " + selected + ">" + status[i].nama + "</option>"
                            }
                            form += "</select></td>"
                            form += "<td>Jenis Cuti</td>"
                            form += "<td>Tanggal Awal</td>"
                            form += "<td>Tanggal Akhir</td>"
                            form += "<td>Lama Cuti</td>"
                            form += "</tr>"
                            form += "<tr>"
                            form += "<td>Keterangan</td>"
                            form += "<td><input class='form-control' type='text' id='keterangan'></td>"
                            form += "<td><input class='form-control' type='text' id='jenisCutiId' value='"+cuti.jenisCutiId+"' disabled></td>"
                            form += "<td><input class='form-control' type='date' id='tanggalAwal' value='"+cuti.tanggalAwal+"' disabled></td>"
                            form += "<td><input class='form-control' type='date' id='tanggalAkhir' value='"+cuti.tanggalAkhir+"' disabled></td>"
                            form += "<td><input class='form-control' type='number' id='lamaCuti' value='"+cuti.lamaCuti+"' disabled></td>"
                            form += "</tr>"
                            form += "<td colspan='2'> <button value='" + cuti.id + "' class='btn btn-primary' onclick='SaveApprove(this.value)'>Save</button> </td>"
                            form += "</tr>"
                            form += "</table>"

                            $('#cutiList').html(form)

                        }
                    });
                }
            });
        }

        function SaveApprove(id) {
            let formData = '{';
            formData += '"jenisCutiId":"' + $('#jenisCutiId').val() + '",'
            formData += '"statusId":"' + $('#status_id').val() + '",'
            formData += '"keterangan":"' + $('#keterangan').val() + '"'
            formData += '}'

            let dataStatus = '{';
            dataStatus += '"jenisCutiId":"' + $('#jenisCutiId').val() + '",'
            dataStatus += '"tanggalAwal":"' + $('#tanggalAwal').val() + '",'
            dataStatus += '"tanggalAkhir":"' + $('#tanggalAkhir').val() + '",'
            dataStatus += '"lamaCuti":"' + $('#lamaCuti').val() + '",'
            dataStatus += '"statusId":"' + $('#status_id').val() + '"'
            dataStatus += '}'

            $.ajax({
                url: '/api/cuti_approval',
                type: 'post',
                contentType: 'application/json',
                data: formData,
                success: function (data) {
                    // console.log(data);
                    OpenList();
                }
            });

            $.ajax({
                url: '/api/cuti/' + id,
                type: 'PUT',
                contentType: 'application/json',
                data: dataStatus,
                success: function (data) {
                    OpenList(0,5);
                }
            });

            // console.log('requestJSON: ', formData);
        }

    function OpenForm() {
        $.ajax({
           url: '/api/jenis_cuti',
           type: 'get',
           contentType: 'application/json',
           success: function (data) {
               let form = "<table class='table table-bordered'>"
               form += "<tr>"
               form += "<td>Tanggal Awal</td>"
               form += "<td><input class='form-control' type='date' id='tanggal_awal'></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td>Tanggal Akhir</td>"
               form += "<td><input class='form-control' type='date' id='tanggal_akhir' onChange='hitung()'></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td>Jenis Cuti</td>"
               form += "<td><select class='custom-select' id='jenis_cuti_id'>"
               for (let i = 0; i < data.length; i++) {
                   form += "<option value='" + data[i].id + "'>" + data[i].nama + "</option>"
               }
               form += "</select></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td>Lama Cuti</td>"
               form += "<td id='lamaCuti'></td>"
            //    form += "<td><input class='form-control' type='date' id='tanggal_akhir'></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td colspan='2'> <button class='btn btn-primary' onclick='SaveCuti(this.value)'>Save</button> </td>"
               form += "</tr>"
               form += "</table>"

               $('#cutiList').html(form)
           }
        });
    }

    let jumlah = 0;

    function hitung() {
        hideAll();
        let awal = new Date(document.getElementById("tanggal_awal").value);
        let akhir = new Date(document.getElementById("tanggal_akhir").value);
        let selisih = new Date(akhir.getTime() - awal.getTime());
        jumlah = (selisih / (1000*3600*24));
        $('#lamaCuti').append("<input class=\"form-control\" type='text' id='lama' value='"+ jumlah +"'>");
    }

    function hideAll() {
        $('#lamaCuti').empty();
    }

    function SaveCuti() {
        var formData = '{';
        formData += '"jenisCutiId":"' + $('#jenis_cuti_id').val() + '",';
        formData += '"tanggalAwal":"' + $('#tanggal_awal').val() + '",';
        formData += '"tanggalAkhir":"' + $('#tanggal_akhir').val() + '",';
        formData += '"lamaCuti":"' + $('#lama').val() + '"';
        formData += '}';

        $.ajax({
            url: '/api/cuti',
            type: 'post',
            contentType: 'application/json',
            data: formData,
            success: function(data) {
                OpenList();
            }
        });
    }

    function FormEdit(id) {
        $.ajax({
            url: '/api/cuti/'+id,
            type: 'GET',
            contentType: 'application/json',
            success: function (cuti) {
                // console.log(cuti)

                let form = "<table class='table table-bordered'>"
                form += "<tr>"
                $.ajax({
                    url: '/api/jenis_cuti',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function(jenis) {
                        form += "<td>Jenis Cuti</td>"
                        form += "<td><select class='custom-select' id='jenis_cuti_id'>"
                        for (let i = 0; i < jenis.length; i++) {
                            if (jenis[i].id == cuti.jenisCutiId)
                            {
                                selected="selected"
                            } else {
                                selected=""
                            }
                            form += "<option value='" + jenis[i].id + "' " + selected + ">" + jenis[i].nama + "</option>"
                        }
                        form += "</select></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Tanggal Awal</td>"
                        form += "<td><input class='form-control' type='date' id='tanggal_awal' value='" + cuti.tanggalAwal + "'></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Tanggal Akhir</td>"
                        form += "<td><input onChange='hitung()' class='form-control' type='date' id='tanggal_akhir' value='" + cuti.tanggalAkhir + "'></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Lama Cuti</td>"
                        form += "<td id='lamaCuti'></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Status</td>"
                        form += "<td><input class='form-control' type='text' id='status' value='" + cuti.statusId + "' disabled></td>"
                        form += "</tr>"
                        form += "<td colspan='2'> <button value='" + cuti.id + "' class='btn btn-primary' onclick='UpdateCuti(this.value)'>Save</button> </td>"
                        form += "</tr>"
                        form += "</table>"

                        $('#cutiList').html(form)

                    }
                });
            }
        });
    }

    function UpdateCuti(id) {
        let formData = '{';
        formData += '"jenisCutiId":"' + $('#jenis_cuti_id').val() + '",'
        formData += '"tanggalAwal":"' + $('#tanggal_awal').val() + '",'
        formData += '"tanggalAkhir":"' + $('#tanggal_akhir').val() + '",'
        formData += '"lamaCuti":"' + $('#lama').val() + '",'
        formData += '"statusId":"' + $('#status').val() + '"'
        formData += '}'

        $.ajax({
            url: '/api/cuti/' + id,
            type: 'PUT',
            contentType: 'application/json',
            data: formData,
            success: function (data) {
                OpenList(0,5);
            }
        });

        console.log('requestJSON: ', formData)
    }

    function FormDelete(id) {
        $.ajax({
            url: '/api/cuti/'+id,
            type: 'get',
            contentType: 'application/json',
            success: function (cuti) {
                // console.log(cuti)

                let form = "<table class='table table-bordered'>"
                form += "<tr>"
                $.ajax({
                    url: '/api/jenis_cuti',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function(jenis) {
                        form += "<td>Jenis Cuti</td>"
                        form += "<td><select class='custom-select' id='jenis_cuti_id' disabled>"
                        for (let i = 0; i < jenis.length; i++) {
                            if (jenis[i].id == cuti.jenisCutiId)
                            {
                                selected="selected"
                            } else {
                                selected=""
                            }
                            form += "<option value='" + jenis[i].id + "' " + selected + ">" + jenis[i].nama + "</option>"
                        }
                        form += "</select></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Tanggal Awal</td>"
                        form += "<td><input class='form-control' type='date' id='tanggal_awal' value='" + cuti.tanggalAwal + "' disabled></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Tanggal Akhir</td>"
                        form += "<td><input onChange='hitung()' class='form-control' type='date' id='tanggal_akhir' value='" + cuti.tanggalAkhir + "' disabled></td>"
                        form += "</tr>"
                        form += "<tr>"
                        form += "<td>Status</td>"
                        form += "<td><input class='form-control' type='text' id='status' value='" + cuti.statusId + "' disabled></td>"
                        form += "</tr>"
                        form += "<td colspan='2'> <button value='" + cuti.id + "' class='btn btn-danger' class='close' data-dismiss='modal' onclick='Delete(this.value)'>Delete</button> </td>"
                        form += "</tr>"
                        form += "</table>"

                        $('#modal-body').html(form)

                    }
                });
            }
        });
    }

    function Delete(id){
      var formData = '{';
      formData += '"jenisCutiId":"' + $('#jenis_cuti_id').val() + '",';
      formData += '"tanggalAwal":"' + $('#tanggal_awal').val() + '",';
      formData += '"tanggalAkhir":"' + $('#tanggal_akhir').val() + '",';
      formData += '"statusID":"' + $('#status').val() + '"';
      formData +='}';

      $.ajax({
        url:'/api/cuti/' + id,
        type:'delete',
        contentType:'application/json',
        data: formData,
        success: function(data){
            OpenList();
         }
      });
    }

    function logout(){
        $.ajax({
            url:'/api/logout',
            type: 'post' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                window.location.href = "/login"
            }
        });
    }

</script>
</body>
</html>