<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cuti API</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        .active {
            font-weight: bold;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">Cuti App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item active">
                    <a class="nav-link" href="/karyawan/index">Karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_cuti/index">Jenis cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_karyawan/index">Jenis karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/status/index">Status</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item">
                    <a class="nav-link" href="/cuti/index">Cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item ">
                    <a class="nav-link" href="/cuti_approval/index">Cuti Approval</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
                </li>
                <li th:if="${session.id == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container pt-4">
    <h2>Cuti API</h2>
    <p>
        <button class="btn btn-primary" onclick="OpenList()">Open List</button>
        <button class="btn btn-primary" onclick="OpenForm()">Open Add Form</button>
    </p>
    <input class="form-control" type="text" placeholder="Search" onkeyup="SearchCategory(this.value)"
           autocomplete="off">
    <div id="karyawanList"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anda akan menghapus data dibawah ini, apakah anda yakin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body">
            </div>
        </div>
    </div>
</div>


<!--javascript-->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function OpenList(){
         $.ajax({
            url: '/api/karyawan',
            type: 'get',
            contentType: 'application/json',
            success: function(data){
                var table = "<table class='table'";
                    table += "<thead>";
                    table += "<tr>";
                    table += "<th scope='col'>#</th>";
                    table += "<th scope='col'>Nama</th>";
                    table += "<th scope='col'>Email</th>";
                    table += "<th scope='col'>Jenis Karyawan</th>";
                    table += "<th scope='col'>Sisa Cuti</th>";
                    table += "<th scope='col' colspan='2'>Handle</th>";
                    table += "</tr>";
                    table += "</thead>";
                for (let i=0; i<data.length; i++){
                    table += "<tr>";
                    table += "<td>" + (i+1) + "</td>";
                    table += "<td>" + data[i].nama + "</td>";
                    table += "<td>" + data[i].email + "</td>";
                    table += "<td>" + data[i].jenisKaryawan.nama + "</td>";
                    table += "<td>" + data[i].sisaCuti + "</td>";
                    table += "<td><button value='" + data[i].id + "' onclick='FormEdit(this.value)' class='btn btn-sm btn-primary'>Edit</td>";
                    table += "<td><button value='" + data[i].id + "' data-toggle='modal' data-target='#exampleModal' onclick='FormDelete(this.value)' class='btn btn-sm btn-danger'>Delete</td>";
                    table += "</tr>"
                }
                table += "</table>";
                $('#karyawanList').html(table);
             }
        });
    }

    function OpenForm() {
        $.ajax({
           url: '/api/jenis_karyawan',
           type: 'get',
           contentType: 'application/json',
           success: function (data) {
               let form = "<table class='table table-bordered'>"
               form += "<tr>"
               form += "<td>Nama </td>"
               form += "<td><input class='form-control' type='text' id='nama'></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td>Email</td>"
               form += "<td><input class='form-control' type='text' id='email'></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td>Password</td>"
               form += "<td><input class='form-control' type='password' id='password'></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td>Jenis Karyawan</td>"
               form += "<td><select class='custom-select' id='jenis_karyawan_id'>"
               for (let i = 0; i < data.length; i++) {
                   form += "<option value='" + data[i].id + "'>" + data[i].nama + "</option>"
               }
               form += "</select></td>"
               form += "</tr>"
               form += "<tr>"
               form += "<td colspan='2'> <button class='btn btn-primary' onclick='SaveKaryawan()'>Save</button> </td>"
               form += "</tr>"
               form += "</table>"

               $('#karyawanList').html(form)
           }
        });
    }

    function SaveKaryawan(){
        var formData ='{' ;
            formData +='"nama":"' + $('#nama').val() + '",' ;
            formData +='"email":"' + $('#email').val() + '",' ;
            formData +='"password":"' + $('#password').val() + '",' ;
            formData += '"jenisKaryawanId":"' + $('#jenis_karyawan_id').val() + '"';
            formData +='}' ;

            $.ajax({
                url:'/api/karyawan',
                type: 'post' ,
                contentType:'application/json',
                data: formData,
                success: function(data){
                    //OpenList();
                    OpenList();
                }
            });
    }

    function FormEdit(id) {
      $.ajax({
          url: '/api/karyawan/'+id,
          type: 'GET',
          contentType: 'application/json',
          success: function (data) {
              let form = "<table class='table table-bordered'>"
              form += "<tr>"
              $.ajax({
                  url: '/api/jenis_karyawan/',
                  type: 'GET',
                  contentType: 'application/json',
                  success: function (dataJenis)
                  {
                      form += "<td>Jenis Karyawan </td>"
                      form += "<td><select class='custom-select' id='jenis_karyawan_id'>"
                      for (let i = 0; i < dataJenis.length; i++) {
                          if (dataJenis[i].id == data.jenisKaryawanId)
                          {
                              selected="selected"
                          } else {
                              selected=""
                          }
                          form += "<option value='" + dataJenis[i].id + "' " + selected + ">" + dataJenis[i].nama + "</option>"
                      }
                          form += "</select></td>"
                          form += "</tr>"
                          form += "<tr>"
                          form += "<td>Nama</td>"
                          form += "<td><input class='form-control' type='text' id='nama' value='" + data.nama + "'><input class='form-control' type='hidden' id='createdOn' value='" + data.createdOn + "'></td>"
                          form += "</tr>"
                          form += "<tr>"
                          form += "<td>Email</td>"
                          form += "<td><input class='form-control' type='text' id='email' value='" + data.email + "'><input class='form-control' type='hidden' id='createdBy' value='" + data.createdBy + "'></td>"
                          form += "</tr>"
                          form += "<tr>"
                          form += "<td>Sisa Cuti</td>"
                          form += "<td><input class='form-control' type='number' id='sisaCuti' value='" + data.sisaCuti + "'></td>"
                          form += "</tr>"
                          form += "<tr>"
                          form += "<td colspan='2'> <button value='" + data.id + "' class='btn btn-primary' onclick='UpdateKaryawan(this.value)'>Save</button> </td>"
                          form += "</tr>"
                          form += "</table>"

                          $('#karyawanList').html(form);
                  }
              });
          }
      });
    }

    function UpdateKaryawan(id){
      var formData = '{';
      formData += '"nama":"' + $('#nama').val() + '",';
      formData += '"email":"' + $('#email').val() + '",';
      formData += '"password":"' + $('#password').val() + '",';
      formData += '"jenisKaryawanId":"' + $('#jenis_karyawan_id').val() + '",';
      formData += '"sisaCuti":"' + $('#sisaCuti').val() + '"';
      formData +='}';

      $.ajax({
        url:'/api/karyawan/' + id,
        type:'put',
        contentType:'application/json',
        data: formData,
        success: function(data){
            OpenList();
         }
      });
    }

    function FormDelete(id) {
      $.ajax({
          url: '/api/karyawan/'+id,
          type: 'GET',
          contentType: 'application/json',
          success: function (data) {
              let form = "<table class='table table-bordered'>"
              form += "<tr>"
              $.ajax({
                  url: '/api/jenis_karyawan/',
                  type: 'GET',
                  contentType: 'application/json',
                  success: function (dataJenis)
                  {
                      form += "<td>Jenis Karyawan</td>"
                      form += "<td><select class='custom-select' id='jenis_karyawan_id' disabled>"
                      for (let i = 0; i < dataJenis.length; i++) {
                          if (dataJenis[i].id == data.jenisKaryawanId)
                          {
                              selected="selected"
                          } else {
                              selected=""
                          }
                          form += "<option value='" + dataJenis[i].id + "' " + selected + ">" + dataJenis[i].nama + "</option>"
                      }
                      form += "</select></td>"
                      form += "</tr>"
                      form += "<tr>"
                      form += "<td>Nama</td>"
                      form += "<td><input class='form-control' type='text' id='nama' value='" + data.nama + "' disabled><input class='form-control' type='hidden' id='createdOn' value='" + data.createdOn + "'></td>"
                      form += "</tr>"
                      form += "<tr>"
                      form += "<td>Email</td>"
                      form += "<td><input class='form-control' type='text' id='email' value='" + data.email + "' disabled><input class='form-control' type='hidden' id='createdBy' value='" + data.createdBy + "'></td>"
                      form += "</tr>"
                      form += "<tr>"
                      form += "<td colspan='2'> <button value='" + data.id + "' class='btn btn-danger' data-dismiss='modal' aria-label='Close' onclick='Delete(this.value)'>Delete</button> </td>"
                      form += "</tr>"
                      form += "</table>"

                      $('#modal-body').html(form);
                  }
              });
          }
      });
    }

    function Delete(id) {
      let formData = '{';
      formData += '"nama":"' + $('#nama').val() + '",';
      formData += '"email":"' + $('#email').val() + '",';
      formData += '"jenisKaryawanId":"' + $('#jenis_karyawan_id').val() + '",';
      formData += '"createdBy":"' + $('#createdBy').val() + '",'
      formData += '"createdOn":"' + $('#createdOn').val() + '"'
      formData += '}';

      $.ajax({
          url: '/api/karyawan/'+id,
          type: 'delete',
          contentType: 'application/json',
          data: formData,
          success: function (data) {
              OpenList();
          }
      });
    }

    function logout(){
        $.ajax({
            url:'/api/logout',
            type: 'post' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                window.location.href = "/login"
            }
        });
    }


</script>