<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cuti API</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        .active {
            font-weight: bold;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">Cuti App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/karyawan/index">Karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_cuti/index">Jenis cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_karyawan/index">Jenis karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/status/index">Status</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item">
                    <a class="nav-link" href="/cuti/index">Cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item active">
                    <a class="nav-link" href="/cuti_approval/index">Cuti Approval</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
                </li>
                <li th:if="${session.id == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pt-4">
    <h2>Cuti Approval API</h2>
    <p>
        <button class="btn btn-primary" onclick="OpenList()">Open List</button>
        <button class="btn btn-primary" onclick="OpenForm()">Open Add Form</button>
    </p>
    <input class="form-control" type="text" placeholder="Search" onkeyup="SearchCategory(this.value)"
           autocomplete="off">
    <div id="cutiApprovalList"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anda akan menghapus data dibawah ini, apakah anda yakin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body">
            </div>
        </div>
    </div>
</div>


<!--javascript-->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>

        function OpenList() {
            $.ajax({
                url: '/api/cuti_approval',
                type: 'get',
                contentType: 'application/json',
                success: function(data) {
                    console.log(data);
                    var table = '<table class="table">';
                    table += "<tr>";
                    table += "<th> # </th>";
                    table += "<th>Jenis Cuti</th>";
                    table += "<th>Status</th>";
                    table += "<th>Keterangan</th>";
                    table += "<th class='text-center'>Action</th>";
                    table += "</tr>";

                    for (let i = 0; i < data.length; i++) {
                        table += "<tr>";
                        table += "<td>" + (i + 1) + "</td>";
                        table += "<td>" + data[i].jenisCuti.nama + "</td>";
                        table += "<td>" + data[i].status.nama + "</td>";
                        table += "<td>" + data[i].keterangan + "</td>";
                        table += "<td align='center'><button class='btn btn-success' value='" + data[i].id + "' onclick='FormEdit(this.value)'>Edit</button></td>"
                        table += "</tr>";
                    }
                    table += "</table>";
                    $('#cutiApprovalList').html(table);
                }

            });
        }

        function logout(){
            $.ajax({
                url:'/api/logout',
                type: 'post' ,
                contentType:'application/json',
                data: {},
                success: function(data){
                    //OpenList(0,5);

                    window.location.href = "/login"
                }
            });
        }


</script>
</body>
</html>