<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cuti API</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        .active {
            font-weight: bold;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">Cuti App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/karyawan/index">Karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_cuti/index">Jenis cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                    <a class="nav-link" href="/jenis_karyawan/index">Jenis karyawan</a>
                </li>
                <li th:if="${session.jenisKaryawanId == 1}" class="nav-item active">
                    <a class="nav-link" href="/status/index">Status</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item">
                    <a class="nav-link" href="/cuti/index">Cuti</a>
                </li>
                <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item ">
                    <a class="nav-link" href="/cuti_approval/index">Cuti Approval</a>
                </li>
            </ul>
        </div>

        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
                </li>
                <li th:if="${session.id == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pt-4">
    <h2>Status API</h2>
    <p>
        <button class="btn btn-primary" onclick="OpenList()">Open List</button>
        <button class="btn btn-primary" onclick="OpenForm()">Open Add Form</button>
    </p>
    <input class="form-control" type="text" placeholder="Search" onkeyup="SearchStatus(this.value)"
           autocomplete="off">
    <div id="statusList"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anda akan menghapus data dibawah ini, apakah anda yakin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body">
            </div>
        </div>
    </div>
</div>


<!--javascript-->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function OpenList(){
         $.ajax({
            url: '/api/status',
            type: 'get',
            contentType: 'application/json',
            success: function(data){
                var table = "<table class='table'";
                    table += "<thead>";
                    table += "<tr>";
                    table += "<th scope='col'>#</th>";
                    table += "<th scope='col'>Nama</th>";
                    table += "<th scope='col'>Keterangan</th>";
                    table += "<th scope='col' colspan='2'>Handle</th>";
                    table += "</tr>";
                    table += "</thead>";
                for (let i=0; i<data.length; i++){
                    table += "<tr>";
                    table += "<td>" + (i+1) + "</td>";
                    table += "<td>" + data[i].nama + "</td>";
                    table += "<td>" + data[i].keterangan + "</td>";
                    table += "<td><button value='" + data[i].id + "' onclick='formEdit(this.value)' class='btn btn-sm btn-primary'>Edit</td>";
                    table += "<td><button value='" + data[i].id + "' data-toggle='modal' data-target='#exampleModal' onclick='formDelete(this.value)' class='btn btn-sm btn-danger'>Delete</td>";
                    table += "</tr>"
                }
                table += "</table>";
                $('#statusList').html(table);
             }
        });
    }

    function OpenForm() {
            var form='<table class="table table-bordered"' ;
            form +="<tr>" ;
            form +="<td>Nama</td>" ;
            form +='<td><input class="form-control" type ="text" id="nama"></td>' ;
            form +="</tr>" ;
            form +="<tr>" ;
            form +="<td>Keterangan</td>" ;
            form +='<td><input class="form-control" type ="text" id="keterangan"></td>' ;
            form +="<tr>" ;
            form +='<td colspan="2"><button class="btn btn-primary" onclick = "SaveStatus(this.value)">Save</button></td>';
            form +='</tr>' ;
            $("#statusList").html(form);
    }

    function SaveStatus(){
        var formData ='{' ;
            formData +='"nama":"' + $('#nama').val() + '",' ;
            formData +='"keterangan":"' + $('#keterangan').val() + '"' ;
            formData +='}' ;

            $.ajax({
                url:'/api/status',
                type: 'post' ,
                contentType:'application/json',
                data: formData,
                success: function(data){
                    //OpenList();
                    OpenList();
                }
            });
    }

    function formEdit(id){
            $.ajax({
                url:'/api/status/' + id,
                type:'get',
                contentType:'application/json',
                success:function(data){
                var form='<table class="table table-bordered">' ;
                    form +="<tr>" ;
                    form +="<td>Nama</td>" ;
                    form +='<td><input class="form-control" type ="text" id="nama" value="' +data.nama+'"></td>';
                    form += "</tr>";
                    form += "<tr>";
                    form += "<td>Keterangan</td>";
                    form += '<td><input class="form-control" type="text" id="keterangan" value="'+data.keterangan+'"></td>';
                    form += "</tr>";
                    form += '<td><input class="form-control d-none" id="created_on" value="'+data.createdOn+'"></td>';
                    form += '<td><input class="form-control d-none" id="created_by" value="'+data.createdBy+'"></td>';
                    form += "<tr>";
                    form += '<td colspan="2"><button class="btn btn-primary" value="'+data.id+'" onclick="UpdateStatus(this.value)">Save</button></td>';
                    form += '</tr>';
                $('#statusList').html(form);
                }
            })
    }

    function UpdateStatus(id){
      var formData = '{';
      formData += '"nama":"' + $('#nama').val() + '",';
      formData += '"keterangan":"' + $('#keterangan').val() + '"';
      formData +='}';

      $.ajax({
        url:'/api/status/' + id,
        type:'put',
        contentType:'application/json',
        data: formData,
        success: function(data){
            OpenList();
         }
      });
    }

    function formDelete(id){
            $.ajax({
                url:'/api/status/' + id,
                type:'get',
                contentType:'application/json',
                success:function(data){
                var form='<table class="table table-bordered">' ;
                    form +="<tr>" ;
                    form +="<td>Nama</td>" ;
                    form +='<td><input class="form-control" type ="text" id="nama" value="' +data.nama+'" disabled></td>';
                    form += "</tr>";
                    form += "<tr>";
                    form += "<td>Keterangan</td>";
                    form += '<td><input class="form-control" type="text" id="keterangan" value="'+data.keterangan+'" disabled></td>';
                    form += "</tr>";
                    form += '<td><input class="form-control" type="hidden" id="created_on" value="'+data.createdOn+'"></td>';
                    form += '<td><input class="form-control" type="hidden" id="created_by" value="'+data.createdBy+'"></td>';
                    form += '<tr>';
                    form += '<td colspan="2"><button class="btn btn-danger float-right" value="'+data.id+'" onclick="DeleteStatus(this.value)" class="close" data-dismiss="modal" aria-label="Close">Delete</button></td>';
                    form += '</tr>';
                    form += "</table>";
                $('#modal-body').html(form);
                }
            })
    }

    function DeleteStatus(id){
      var formData = '{';
      formData += '"nama":"' + $('#nama').val() + '",';
      formData += '"keterangan":"' + $('#keterangan').val() + '",';
      formData += '"createdOn":"' + $('#created_on').val() + '",';
      formData += '"createdBy":"' + $('#created_by').val() + '"';
      formData +='}';

      $.ajax({
        url:'/api/status/' + id,
        type:'delete',
        contentType:'application/json',
        data: formData,
        success: function(data){
            OpenList();
         }
      });
    }

     function SearchStatus(request) {
        //console.log(request)

        if (request.length > 0)
        {
            $.ajax({
                url: '/api/searchstatus/' + request,
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    console.log(result)
                    let table = "<table class='table table-bordered mt-3'>";
                    table += "<tr> <th width='10%' class='text-center'>#</th> <th>Nama</th> <th>Keterangan</th></tr>"
                    for (let i = 0; i < result.length; i++) {
                        table += "<tr>";
                        table += "<td class='text-center'>" + (i+1) + "</td>";
                        table += "<td>" + result[i].nama + "</td>";
                        table += "<td>" + result[i].keterangan + "</td>";
                        table += "<td><button class='btn btn-primary' value='" + result[i].id + "' onclick='FormEdit(this.value)'>Edit</button> <button class='btn btn-danger' value='" + result[i].id + "' onclick='Delete(this.value)'>Delete</button> </td>";
                        table += "</tr>";
                    }
                    table += "</table>";
                    $('#statusList').html(table);
                }
            });
        } else {
            OpenList(0,5);
        }
    }

    function logout(){
        $.ajax({
            url:'/api/logout',
            type: 'post' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                window.location.href = "/login"
            }
        });
    }

</script>